body{
    background-color: rgb(243, 233, 224);
    border: 1px solid #fff;
    
}
.product-demo{
    margin: 150px auto;
    width: 50%;
    background: hsl(0, 0%, 100%);
    font-weight: 600;
    border: 1px solid #dad4d4;
    border-radius: 6px;
    line-height: 20px;
    
   

}

img{

    float: left;
    width: 300px;
    height: 375px;
    padding: 0 30px 0 0;
    border-radius: 6px;
    
}



h1 {
    margin: 10px auto;
  font-size: 14px;
  padding: 10px;
  color: rgb(130, 125, 125);
  
}

h2 {

    font-weight: bold;
    line-height: 30px;
}

p {
    font-size: 14px;
    font-weight: 500;
    padding: 0 10px 0 0;
    color: rgb(130, 125, 125);
}

.prices .new-price {
    color: #004a2f;
    font-size:30px ;
    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
}

.prices .old-price {
    text-decoration-line: line-through;
    position: relative;
    top: -8px;
    right: -10px;
    font-size: 10px;
    color: gray;
}
 

button {
    display: block;
    margin: 20px auto;
    padding: 8px 8px ;
    width: 155px;
    font-size: 10px;
    font-weight: 400;
    border: 1px solid;
    border-radius:6px ;
    color: #dad4d4;
    background: rgb(8, 26, 8);


}


 
